<div class="container">

  <h1>Welcome on <%= @user.first_name %> <%= @user.last_name %> profile !</h1>

  <p><%= @user.description %></p>
  <%= cl_image_tag(@user.photo, :size => '250x250') %>

  <h2>My participations</h2>

  <ul>
    <% @user.participations.each do |participation| %>
      <li><%= link_to participation.challenge.title, challenge_path(participation.challenge) %></li>
    <% end %>
  </ul>


  <h2>My challenges</h2>

  <ul>
    <% @user.challenges.each do |challenge| %>
      <li><%= link_to challenge.title, challenge_path(challenge) %></li>
    <% end %>
  </ul>

</div>
