<div class="challenges-index">

  <%= simple_form_for :search, url: challenges_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Let's challenge yourself !" />
      <button name="button" type="submit" class="btn btn-search">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

  <div>
    <div
    id="map"
    style="width: 100%;
    height: 35vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <div class="last-challenges-list">
    <div class="cards-challenges-list cards-margin-4">
      <% @challenges.each do |challenge| %>

        <div class="card-challenge">
          <%= cl_image_tag challenge.photo, height: 100, width: 150, crop: :fill %>
          <div class="card-challenge-infos-16">
            <h2><%= challenge.title %></h2>
            <p><%= challenge.place %></p>
            <p><%= challenge.format_date %></p>
            <%= link_to "More details", challenge_path(challenge), class: 'btn btn-primary' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>
