<div class="challenge-details" style="
    height: 92%">
  <div class="text-center" >
  <%= cl_image_tag @challenge.photo, height: 300, width: 300, crop: :fill %>

  <h2><%= @challenge.title %></h2>
  <p><i class="fas fa-globe-americas"></i> <%= @challenge.place %></p>
  <p><i class="far fa-calendar-check"></i> <%= @challenge.date %></p>
  <p><i class="fas fa-users"></i> Nombre de participations : <%= @challenge.participations.count %></p>

  <% if current_user == @challenge.user %>
    <%= link_to "Delete this challenge", challenge_path(@challenge), class: 'btn btn-success', method: :delete %>
  <% end %>
  <%= link_to "Participate", challenge_participations_path(@challenge), method: :post %>

  </div>
</div>

