<div class="container">
  <%= cl_image_tag @challenge.photo, height: 300, width: 400, crop: :fill %>

  <h1>Challenge details</h1>
  <p><%= @challenge.date %></p>
  <p><%= @challenge.title %></p>
  <p><%= @challenge.place %></p>
  <p>Nombre de participations : <%= @challenge.participations.count %></p>

  <div class="text-center">
  <% if current_user == @challenge.user %>
  <%= link_to "Delete this challenge", challenges_path, class: 'btn btn-success', method: :delete %>
  <% end %>

  </div>
</div>
 